.ContenedorPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;


    .Contenedor2 {
        background-color: #fffae3;
        width: 450px;
        height: 700px;
        justify-content: center;
        text-align: center;
        border-radius: 35px;
        border: 2px solid black;
        margin-top: 100px;



        .h51 {
            margin-top: -15px;
        }

        .Contenedor3 {
            display: flex;
            text-align: left;
            justify-content: center;
            margin-top: 50px;

            .Contenedor3_1 {

                padding: 10px;
                margin: 5%;
                margin-top: -20px;

                .h21 {
                    font-size: 18px;
                }

                .input1 {
                    width: 160px;
                    height: 20px;
                    border-radius: 7px;
                    margin-top: -50px;
                }

                .select1 {
                    width: 160px;
                    height: 25px;
                    border-radius: 7px;
                }

                .h31 {
                    margin-bottom: 5px;

                }
            }
        }

        .Contenedor4 {
            text-align: left;
            margin: 5%;

            .h27 {
                margin-top: -30px;
            }

            #h28 {
                font-size: 18px;
            }

            .input2 {
                margin-top: -50PX;
                border-radius: 10px;
                width: 300px;
                height: 25px;
            }
        }

        .botonRegistrar {

            margin-top: 25px;
            background-color: #47667b;
            width: 180px;
            height: 30px;
            margin-bottom: 10px;
            border-radius: 10px;

        }
    }
}