.ContenedorPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;

    .Contenedor2 {
        background-color: #fffae3;
        width: 1000px;
        height: 700px;
        justify-content: center;
        text-align: center;
        border-radius: 35px;
        border: 2px solid black;
        margin-top: 100px;

        .Contenedor3 {
            .inputbuscar {

                width: 850px;
                height: 25px;

            }
            .botonbuscar{
                width: 100px;
                height: 30px;
            }

        }
        .Contenedor4{
            display: flex;
            text-align: left;
            justify-content: center;
            margin-top: 50px;

            .Contenedor4_1{
                padding: 10px;
                margin: 5%;
                margin-top: -20px;

                .Contenedor4_1_1{
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px; 
                }
                .Contenedor4_1_1 h2{
                    margin-right: 10px;

                }

            }
        }
    }
}