.ContenedorPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin: 10%;

    .Contenedor2 {
        border: 2px solid black;
        border-radius: 35px; 
        width: 400px;
        height: 500px;
        text-align: center;
        background-color: #fffae3;

        .Contenedor3 {
            display: flex;
            text-align: left;
            justify-content: center;

            .Contenedor4 {
                .h31 {
                    margin-bottom: 5px;

                }

                .input1 {
                    border-radius: 10px;
                    width: 130px;
                    height: 25px;
                }

                padding: 10px;
                margin: 5%;
                margin-top: -20px;
            }
        }
    }

    .button1 {
        margin-top: 80px;
        width: 200px;
        height: 30px;
        border-radius: 10px;
        background-color: #47667b;
    }
}